<form method="post" action="" enctype="multipart/form-data">
    <input type="file" name="upload1" id="upload1" class="upload" multiple="multiple" />
    <label for="upload1">
    <svg class="icon icon-sm" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-upload"></use></svg>
    <span>Upload</span>
  </label>
    <ul class="upload-file-list">
        <li class="upload-file success">
            <svg class="icon icon-sm" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use></svg>
            <p>
                <span class="sr-only">File caricato:</span> nome-file-01.pdf <span class="upload-file-weight">68 MB</span>
            </p>
            <button disabled>
        <span class="sr-only">Caricamento ultimato</span>
        <svg class="icon" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use></svg>
      </button>
        </li>
        <li class="upload-file success">
            <svg class="icon icon-sm" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use></svg>
            <p>
                <span class="sr-only">File caricato:</span> nome-file-02-nome-file-lungo-per-ellissi.doc <span class="upload-file-weight">68 MB</span>
            </p>
            <button disabled>
        <span class="sr-only">Caricamento ultimato</span>
        <svg class="icon" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use></svg>
      </button>
        </li>
        <li class="upload-file uploading">
            <svg class="icon icon-sm" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use></svg>
            <p>
                <span class="sr-only">Caricamento file:</span> nome-file-03.png <span class="upload-file-weight"></span>
            </p>
            <button>
        <span class="sr-only">Annulla caricamento file nome-file-03.png</span>
        <svg class="icon" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use></svg>
      </button>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </li>
        <li class="upload-file error">
            <svg class="icon icon-sm" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use></svg>
            <p>
                <span class="sr-only">Errore caricamento file:</span> nome-file-04.jpg <span class="upload-file-weight"></span>
            </p>
            <button>
        <span class="sr-only">Elimina file caricato nome-file-04.jpg</span>
        <svg class="icon" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use></svg>
      </button>
        </li>
    </ul>
</form>
